body {
  background-color: rgb(250, 250, 250);
  width: 100%;
  overflow-x: hidden;
}

.header-gap {
  margin-top: 5vh;
  justify-content: center;
}

a, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: rgb(26, 126, 207);
  font-weight: 400;
}

a:focus {
  text-decoration: none;
  color: rgb(26, 168, 207);
}

.config {
  text-align: center;
  margin-top: 3vh;
  background-color: rgba(171, 167, 167, 0.09);
  padding-left: 0;
  padding-right: 0;
  /*margin-left: 20vh;
  margin-right: 2vh;*/
  height: 20%;
  width: 250px;
}

.config-title {
  text-align: left;
  margin-left: .5rem;
  font-weight: 600;
  padding-top: 10px;
}

input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(23, 23, 23, 0.936);
  color: white;
  border-radius: 3px;
  font-size: large;
  width: 190px;
  height: 45px;
  padding-left: .75rem;
  margin-top: 2rem;
}

.row-style{
  margin-bottom: 1rem;
}

.linebreak {
  background: rgba(22, 22, 22, 0.436);
  height: .05rem;
}

.exchange-table {
  background-color: rgb(245, 245, 245);
  margin-left: 3vh;
  margin-right: 3vh;
  max-width: 80%;
  margin-top: 3vh;
  margin-bottom: 5vh;
  padding: 0;
}

::placeholder {
  color: white;
  font-size: medium;
}

.option {
  height: 2rem;
  border-bottom: 1px solid black;
  width: 175px;
  display: flex;
  padding-left: .75rem;
  cursor: pointer;
  color: white;
}

.option:nth-of-type(odd){
  background-color: rgb(24, 24, 24);
}
.option:nth-of-type(even){
  background-color: rgb(31, 31, 31);
}

.option:hover {
  background-color: rgb(220, 220, 220);
  color: rgb(69, 69, 255);
}

.dropdown {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  max-height: 24vh;
  overflow: scroll;
  overflow-x: hidden;
  border: 1px solid black;
  display: none;
  width: 190px;
}

.dropdown.visible {
  display: block;
}

.dropdown-container {
  width: 175px;
  position: relative;
}

.display-container {
  justify-content: center;
  display: flex;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.exchangeRows{
  background-color: rgb(245, 245, 245);
  border-bottom: 1.5px solid rgb(190, 190, 190)
}

.exchangeColumns {
  text-align: right;
}

.iniColumn {
  text-align: left;
  text-indent: 10px;
}

.exchange-title {
  text-indent: 10px;
  padding-top: 10px;
  font-size: 17px;
  font-weight: 600;
}

.footer-left {
  padding-top: 15px;
  margin-left: 20px;
}

.footer-center {
  padding-top: 15px;
  text-align: center;
}

.footer-divide {
  padding: 0;
  padding-top: 15px;
  text-align: center;
  color: rgb(137, 137, 137);
  margin: 0;
  margin-left: -3%;
  margin-right: -3%;
}

.footer-divide2 {
  padding: 0;
  padding-top: 15px;
  text-align: center;
  color: rgb(137, 137, 137);
  margin: 0;
  margin-left: -22%;
  margin-right: -22%;
}

.footer-right {
  padding-top: 15px;
  text-align: right;
  color: rgb(137, 137, 137);
  margin: 0;
  padding-right: 0;
  z-index: 0;
}

.footer-right2 {
  padding-top: 15px;
  text-align: left;
  color: rgb(137, 137, 137);
  margin: 0;
  padding-left: 0;
  z-index: 0;
}

.footer-wrapper {
  padding: 20px;
  padding-bottom: 30px;
  font-weight: 300;
}

.title {
  padding-left: 35px;
  margin-top: 15px;
  font-weight: 600;
  font-size: 36px;
}

.navbar-brand {
  /*margin-right: 50px;*/
  font-weight: 400;
}

.header-title {
  font-weight: 600;
}

.nav-container {
  margin-left: 2%;
  margin-right: 2%;
}

.table {
  margin-bottom: 0;
}