.header-gap {
  margin-top: 10vh;
}

.config {
  text-align: center;
  margin-top: 3vh;
  background-color: rgba(171, 167, 167, 0.09);
  padding-left: 0;
  padding-right: 0;
}

.config-title {
  text-align: left;
  margin-left: .5rem;
}

input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(23, 23, 23, 0.936);
  color: white;
  border-radius: 3px;
  width: 175px;
  height: 2rem;
}

.row-style{
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.linebreak {
  background: rgba(22, 22, 22, 0.436);
  height: .05rem;
}